/*General CSS settings*/
*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, span, p{
    font-family: "Golos UI", serif;
}
img{
    width: 100%;
    max-width: 100%;
}
main{
    display: flex;
    min-width: 516px;
    align-items: center;
    flex-direction: column;
}
main div{
    position: relative;
}

/*Index CSS*/
.block_line{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.orange_box{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #e7d7b1;
}
.white_box{
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #e1e1e1;
}
.top_block{
    position: absolute;
    z-index: 1;
    top: 0;
    display: flex;
    width: 100%;
}
.top_block__inner{
    position: relative;
    width: 100%;
    height: 100%;
}
.inner__content{
    margin-top: 10%;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
}
.content__left{
    margin-left: 10%;
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-between;
}
.content__right {
    margin-right: 10%;
}
.content__left span{
    color: #ffb400;
    font-size: 2.55vw;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.right__contact{
    border: 3px solid #ffb400;
    border-radius: 2%;
    display: inline-block;
}
.right__contact{
    width: 25vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #e1e1e1;
}
.right__contact form h2{
    font-size: 1.59vw;
}
.right__contact form *{
    margin: 2.5% 0 2.5% 0;
    font-family: "Golos UI", serif;
    font-size: 1.27vw;
}
.left_inside_image{
    width: 80%;
    margin: 10% 0 0 10%;
}
.left_inside_box{
    position: absolute;
    width: 80%;
    left: 20%;
    top: 20%;
}
.decoration{
    width: 25%;
    margin: 10% 0 10% 0;
}
.inside_text_orange{
    color: #ffb400;
    font-size: 2.12vw;
    font-weight: bold;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.span_space_up{
    color: #e1e1e1;
    margin-top: 25%;
    font-size: 2.12vw;
    font-weight: bold;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#main_page_video{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
}
.right_inside_box{
    position: absolute;
    width: 80%;
    right: 20%;
}
.decoration_down .inside_text_orange{
    margin-top: 10%;
}
.bottom_line{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bottom_icons{
    width: 25%;
    margin-top: 5%;
}
.bottom_line h2{
    margin: 5% 0 5% 0;
    font-size: 2.12vw;
}
.bottom_line span{
    font-size: 2vw;
    text-align: center;
    padding: 0 5% 0 5%;
    font-weight: bold;
}

/*Information page CSS*/
.info_page{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: #e1e1e1;
}
.info_page__header{
    color: #ffb400;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 3.20vw;
    margin: 5% 0 0 0;
}
.info_page .decoration{
    width: 12vw;
    margin: 3% 0 3% 0;
}
.info_page__description{
    margin: 0 0 2.5% 0;
}
.info_page__main_block{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.main_block__left_side{
    margin-right: 5%;
}
.main_block__right_side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2.5%;
}
.right_side__block{
    display: flex;
    align-items: center;
}
.block__image_icon{
    width: 5.5vw;
}
.block__text_inside{
    display: flex;
    flex-direction: column;
}
.block__text_inside h4, span{
    text-align: left;
}
.block__text_inside{
    margin-left: 2.5%;
    width: 71%;
}
.text_inside__header{
    font-weight: bold;
    font-size: 1.28vw;
    margin: 0 0 .3vh 0;
}
.text_inside__span{
    font-size: 0.85vw;
}
.main_block__address{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: #ffffff;
}
.address_header{
    font-size: 1.3vw;
    font-weight: bold;
}
.address__text{
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 1%;
}
.main_block__address p{
    font-size: 1vw;
    margin-bottom: 1%;
}
.main_block__address p span{
    color: #ffb400;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.on_footer_partners{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    width: 100%;
    height: 12.65vh;
    background-color: #ffffff;
}
.on_footer_partners img{
    width: 10%;
}

/*Sells page CSS*/
/*Sells page CSS*/

.sells_page{
    background-color: #363636;
}
.sells_top_block{
    position: relative;
    background-image: url("../img/sells_page.png");
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sells_top_block__texts{
    width: 57.5vw;
}
.texts__header{
    font-size: 2.66vw;
}
.top_block__cards{
    display: flex;
    margin: auto;
}
.cards__card{
    display: flex;
    flex-direction: column;
    width: 19vw;
    height: 45vh;
    background-color: #ffffff;
    margin: -10% 2.5% -5% 2.5%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.cards__card:hover{
    transform: rotateY(180deg);
}
.card__front{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.card__front img{
    width: 100%;
    height: 100%;
}
.card__back{
    position: absolute;
    height: 96.5%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border: 8px solid #ffb400;
}
.cards__card h3{
    margin: 15vh 0 0 0;
}
.mid_block{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mid_block__header{
    width: 88%;
    color: #fff;
    font-size: 2vw;
}
.sells_decoration{
    width: 5%;
}
.mid_block__text{
    color: #ffffff;
    width: 50%;
    font-size: 1.2vw;
}
.mid_block__products{
    display: flex;
    width: 88%;
    margin-bottom: 2%;
}
.products__product{
    display: flex;
    flex-direction: column;
    width: 18vw;
    margin: auto;
}
.product__content_inside{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
}
.content_inside__buy_text{
    font-size: 1vw;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    background-color: rgba(255,180,0, 0.8);;
}
.content_inside__buy_text:hover{
    cursor: pointer;
    background-color: #363636;
    transition: background-color 0.5s;
}
.content_inside__buy_text:hover{
    cursor: pointer;
    background-color: #363636;
    transition: background-color 0.5s;
}
.product__name{
    font-size: 1.75vw;
    color: #ffb400;
}
.product__price{
    margin: -2.5% 0 -2.5% 0;
    color: #ffffff;
}
.product__content_inside img{
    width: 80%;
    margin-top: 25%;
}
.map_block{
    width: 100%;
    height: 64vh;
}